<h1 class="h5 mx-5 pt-5 text-white">Welcome to the cities channel</h1>
<hr>
    
<div class="card-columns row center animate__animated animate__fadeIn">
    <div class="card text-white bg-dark col-sm-12 col-md-4 col-xl-3  mb-4 p-3" *ngFor="let video of videos" >
        <img [src]="video.thumbnails.high.url" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ video.title }}</h5>
          <p class="card-text">
              <strong>Autor: </strong> {{ video.channelTitle }}
          </p>
          <p class="card-text">
              <strong>Published: </strong> {{ video.publishedAt }}
            </p>
        </div>
        <button
            class="btn btn-outline-danger btn-block"
            (click)="showVideo(video)"
            >
            Watch video</button>
      </div> 
</div>
    
<div class="row py-5 text-center">
    <div class="col">
        <button
                class="btn btn-primary btn-lg"
                (click)="loadVideos()">
            Next page
        </button>
    </div>
</div>
